Normative and Informative References need to be checked.

Sections 11 and A.7 should be checked to ensure that 
1. all references in the text are listed
2. references are properly categorized as normative and informative.

Some changes that are needed:

**I-D.ietf-avtext-rid** is now **RFC8852** RTP Stream Identifier Source Description (SDES), A. Roach, S. Nandakumar and P. Thatcher, **January 2021**.

**I-D.ietf-mmusic-rid** is now **RFC8851** RTP Payload Format Restrictions, A. Roach, **January 2021**.

**I-D.ietf-mmusic-sdp-simulcast** is now **RFC8853** Using Simulcast in SDP and RTP Sessions, B. Burman, M. Westerlund, S. Nandakumar and M. Zanaty, **January 2021**.

I-D.ietf-payload-vp9 RTP Payload Format for VP9 Video, J. Uberti, S. Holmer, M. Flodman, D. Hong, and J. Lennox, **February 2, 2021**.

Resolved in PR #224 