Section 8.1: Normative note

Section 8.1 contains the following note:

"Note If simulcast is used and simulcast streams are transported using multiple SSRCs, an AV1 sender must send new coded video sequences for every SSRC indicated in the FIR message and might send new coded video sequences for other simulcast streams. If an AV1 bitstream contains several spatial layers without inter-layer dependencies, an AV1 sender must send a new coded video sequence for each independent spatial layer."

This note contains "must" statements.  Are they intended to be normative?

[RFC 8082](https://tools.ietf.org/html/rfc8082) updates [RFC 5104](https://tools.ietf.org/html/rfc5104). From the abstract:

   This document updates RFC 5104 by fixing a shortcoming in the
   specification language of the Codec Control Message Full Intra
   Request (FIR) description when using it with layered codecs.  In
   particular, a decoder refresh point needs to be sent by a media
   sender when a FIR is received on any layer of the layered bitstream,
   regardless of whether those layers are being sent in a single or in
   multiple RTP flows.  The other payload-specific feedback messages
   defined in RFC 5104 and RFC 4585 (which was updated by RFC 5506) have
   also been analyzed, and no corresponding shortcomings have been
   found.


Fixed by PR https://github.com/AOMediaCodec/av1-rtp-spec/pull/89